<% if (typeof messages !=='undefined' ) { %>
    <% if (messages.success && messages.success.length> 0) { %>
        <% messages.success.forEach(function(msg) { %>
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>
                <span>
                    <%= msg %>
                </span>
            </div>
            <% }); %>
                <% } %>

                    <% if (messages.error && messages.error.length> 0) { %>
                        <% messages.error.forEach(function(msg) { %>
                            <div class="alert alert-error">
                                <i class="fas fa-exclamation-circle"></i>
                                <span>
                                    <%= msg %>
                                </span>
                            </div>
                            <% }); %>
                                <% } %>

                                    <% if (messages.info && messages.info.length> 0) { %>
                                        <% messages.info.forEach(function(msg) { %>
                                            <div class="alert alert-info">
                                                <i class="fas fa-info-circle"></i>
                                                <span>
                                                    <%= msg %>
                                                </span>
                                            </div>
                                            <% }); %>
                                                <% } %>
                                                    <% } %>