<nav class="navbar">
    <div class="navbar-content">
        <a href="/" class="navbar-brand">
            <div class="brand-icon">
                <i class="fas fa-rocket"></i>
            </div>
            <span class="brand-text">SEO Bot</span>
        </a>

        <div class="navbar-right">
            <% if (typeof user !=='undefined' && user) { %>
                <div class="user-menu">
                    <span class="user-name">
                        <%= user.name %>
                    </span>
                    <div class="user-avatar">
                        <%= user.name.charAt(0).toUpperCase() %>
                    </div>
                </div>
                <% } else { %>
                    <div class="auth-buttons">
                        <a href="/login" class="btn btn-ghost">Sign In</a>
                        <a href="/register" class="btn btn-primary btn-sm">Get Started</a>
                    </div>
                    <% } %>
        </div>
    </div>
</nav>